.navigation_wrapper{
    height: 100vh;
    /* border: 1px solid red; */
    width: 16%;
    overflow: auto;
    position: fixed;
    left: 5px;
}

.box1{

    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gainsboro;
    padding: 18px 0px;
    /* border: 1px solid; */
}

.home{
    border: 1px solid transparent;
    width: 90%;
    height: 38px;
    display: flex;
    align-items: center;
    border-radius: 13px;
    margin-left: -15px;
}

.home>i{
    margin-left: 15px;
    font-size: larger;
}

.home>p{
    margin-left: 30px;
    color: #0f0f0f;
    font-size: 14px;
}

.background{
    background-color:#0000000D;
    font-size: 1rem;
    font-weight:500;
    color: #0f0f0f;
}

.home:hover{
    background-color: #0000000D;
    cursor: pointer;
}

.title{
    margin-left: -140px;
    margin-top: 0px;
}

.box{
    height: fit-content;
    padding-bottom: 5px;
    /* border: 1px solid red; */
}

.headline_ytb{
    margin-left: -40px;
    font-size: 16px;
}

