.filter_wrapper{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    margin-top: -5px;
}

.filter_container{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    /* border: 1px solid; */
    margin-top: 5px;

}

.filter_container p{
    margin: 0px 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 0%, 0.051);
    color: #0f0f0f;
    font-size: 14px;
}


