.filter_wrapper{
    /* border: 1px solid; */
}

.filter_container{
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 10px 5px;

}

.filter_container p{
    margin: 0px 10px;
    padding: 6px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 0%, 0.051);
    color: #0f0f0f;
    border: 1px solid transparent;
    font-size: 14px;
}

.select{
    background-color: black;
    color: white;
}

